<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="app.easepod.playback.PlaybackFixtureActivity" android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.easepod.playback.test.fixtures"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/playback_fixtures" />
        </provider>
    </application>
</manifest>
